# GenLayer RPC API URL
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api

# GenLayer Network Configuration
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Studio
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN

# Image Guessing Game Contract Address (deployed on Studio)
NEXT_PUBLIC_CONTRACT_ADDRESS=
                            

# Unsplash API Key (get one at https://unsplash.com/developers)
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
